.cta {
    display: flex;
    justify-content: center;
    gap: 30px;
	padding: 180px 0;

	background: linear-gradient(
			180deg,
			$white 10.42%,
			rgba(220, 220, 220, 0) 50.52%,
			$white 90.1%
		),
		linear-gradient(0deg, rgba(220, 220, 220, 0.9), rgba(220, 220, 220, 0.9)),
		url('./../img/cta/cta-bg.jpg'), $white;

}

.cta-text {
    position: relative;
    bottom: 65px;
    display: flex;
    flex-direction: column;
    width: 520px;
    text-align: left;
    gap: 17px;
}

.cta-title {
    font-weight: 700;
    font-size: 36px;
    font-family: $font-accent;
    color: $dark;
}

.cta-paragraf {
    font-weight: 400;
    font-size: 16px;
    font-family: $font-main;
    color: $dark;
}

.cta-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px 30px;
}

.name {
    background:rgba(255, 255, 255, 0.212);
    transition: all 0.3s ease-in;
    cursor: pointer;


    &:hover {
        border: 3px double rgba(255, 255, 255, 0.212);
        background:rgba(255, 255, 255, 0.13);

        &::placeholder {
            opacity: 90%;
            color: $dark;
        }
    }
}

.phone {
    background:rgba(255, 255, 255, 0.212);
    transition: all 0.3s ease-in;
    cursor: pointer;
    

    &:hover {
        border: 3px double rgba(255, 255, 255, 0.212);
        background:rgba(255, 255, 255, 0.13);

        &::placeholder {
            opacity: 90%;
            color: $dark;
        }
    }
}

.btn {
    color: $white;
    background: $dark; 
    transition: all 0.2s ease-in;

     &:hover {
        background: $dark-easy;
    }
}

.warning {
    color: $dark;
    font-family: $font-main;
    text-align: center;
}
