.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
    background: #dbdbdb;
    min-height: 272px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1115px;
    width: 100%;
}

ul {
    display: grid;
    gap: 15px;
}

.item {
    font-family: $font-main;
    font-size: 14px;
    color: $dark;
    letter-spacing: 0.05em;
    cursor: pointer;
    
    & a {
        color: $dark-easy;
    }
}

.socthials {
    display: flex;
    gap: 20px;

    .socthial-light {
        transition: all 0.5s ease-in-out;
        
        &:hover {
            transform: scale(1.1);
        }
    }
}

.socthial {
    display: none;
}

.socthial-light {
    display: block;
}