.header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  background: linear-gradient(
      180deg,
      $white 1.98%,
      rgba(255, 255, 255, 0.38) 60.04%,
      $white 100%
    ),
    url('./img/header/header-bg.jpg');
    width: 100%;
    height: 100%;
    min-width: 840px;
}

.header-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding-top: 55px;
    padding-bottom: 225px;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav {
    display: flex;
    gap: 40px;
    letter-spacing: 0.05em;
}

.label {
    background-color: $dark;
    display: flex;
    height: 20px;
    width: 42px;
    border-radius: 30px;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    transform: scale(1.5);
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.ball {
    height: 16px;
    width: 16px;
    background-color: $white;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: left .2s linear;
}

.checkbox:checked + .label .ball {
    left: 24px;
}
  
.nav-item {
    font-size: 14px;
    font-family: $font-accent;
    color: $dark;
}
  
.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-title {
    font-weight: 700;
    font-size: 48px;
    font-family: $font-accent;
    color: $dark;
    text-align: center;
    padding-bottom: 81px;
}

.header-scroll {
    display: none;
    padding-bottom: 200px;
}

.header-scroll-light {
    padding-bottom: 200px;
}

.header-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 98px;
}