@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #eeeeee;
  transition: all 0.5s ease-in-out;
}
a:hover {
  color: rgba(42, 49, 56, 0.862745098);
}

body {
  background: #eeeeee;
}

.none {
  display: none !important;
}

input {
  width: 255px;
  height: 50px;
  text-align: center;
}

button {
  text-align: center;
  width: 255px;
  height: 50px;
}

html {
  scroll-behavior: smooth;
}

.logo-dark {
  display: none;
}

.logo-light {
  display: block;
}

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: linear-gradient(180deg, #eeeeee 1.98%, rgba(255, 255, 255, 0.38) 60.04%, #eeeeee 100%), url("./img/header/header-bg.jpg");
  width: 100%;
  height: 100%;
  min-width: 840px;
}

.header-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding-top: 55px;
  padding-bottom: 225px;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav {
  display: flex;
  gap: 40px;
  letter-spacing: 0.05em;
}

.label {
  background-color: #242b33;
  display: flex;
  height: 20px;
  width: 42px;
  border-radius: 30px;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  transform: scale(1.5);
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.ball {
  height: 16px;
  width: 16px;
  background-color: #eeeeee;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: left 0.2s linear;
}

.checkbox:checked + .label .ball {
  left: 24px;
}

.nav-item {
  font-size: 14px;
  font-family: "Playfair Display", serif;
  color: #242b33;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-title {
  font-weight: 700;
  font-size: 48px;
  font-family: "Playfair Display", serif;
  color: #242b33;
  text-align: center;
  padding-bottom: 81px;
}

.header-scroll {
  display: none;
  padding-bottom: 200px;
}

.header-scroll-light {
  padding-bottom: 200px;
}

.header-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 98px;
}

.advantages {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-width: 794px;
  min-height: 180px;
  padding: 120px 0;
  gap: 153px;
}
.advantages::before {
  content: "II";
  right: calc(50% + 555px);
  transform: translate(-50%, 0%);
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: 0.02;
  line-height: 1.15;
  font-size: 400px;
  font-family: "Playfair Display", serif;
}

.advantage {
  display: flex;
  flex-direction: column;
  gap: 53px;
  text-align: center;
}

.advantages-text {
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  color: #242b33;
}

.advantages-img {
  display: none;
}

.advantages-img-light {
  display: block;
}

.advantage {
  transition: all 0.3s ease-in;
}
.advantage:hover {
  transform: scale(1.1);
}

.apartments {
  position: relative;
}

.apartments__title {
  font-weight: 700;
  font-size: 36px;
  font-family: "Playfair Display", serif;
  color: #242b33;
  margin-bottom: 88px;
}

.apartments__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.apartments-container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;
}
.apartments-container--sm {
  max-width: 840px;
}

.card {
  overflow: hidden;
  position: relative;
  display: inline-block;
  color: #242b33;
}
.card::before {
  content: "";
  position: absolute;
  z-index: 6;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(222, 223, 224, 0) 0%, #eeeeee 100%);
}
.card::after {
  opacity: 0;
  content: "";
  position: absolute;
  z-index: 7;
  left: 15px;
  top: 15px;
  right: 15px;
  bottom: 15px;
  border: 3px double rgb(19, 19, 19);
  transition: opacity 0.2s ease-in;
}
.card:hover {
  color: #242b33;
}
.card:hover::after {
  opacity: 1;
}

.card__img {
  position: relative;
  z-index: 5;
  transition: all 0.2s ease-in;
}

.card:hover .card__img {
  transform: scale(1.1);
  filter: contrast(110%) brightness(1.2) saturate(1.2);
}

.card__title {
  position: absolute;
  z-index: 9;
  left: 50px;
  right: 20px;
  bottom: 44px;
  font-size: 24px;
}

.cta {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 180px 0;
  background: linear-gradient(180deg, #eeeeee 10.42%, rgba(220, 220, 220, 0) 50.52%, #eeeeee 90.1%), linear-gradient(0deg, rgba(220, 220, 220, 0.9), rgba(220, 220, 220, 0.9)), url("./../img/cta/cta-bg.jpg"), #eeeeee;
}

.cta-text {
  position: relative;
  bottom: 65px;
  display: flex;
  flex-direction: column;
  width: 520px;
  text-align: left;
  gap: 17px;
}

.cta-title {
  font-weight: 700;
  font-size: 36px;
  font-family: "Playfair Display", serif;
  color: #242b33;
}

.cta-paragraf {
  font-weight: 400;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  color: #242b33;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px 30px;
}

.name {
  background: rgba(255, 255, 255, 0.212);
  transition: all 0.3s ease-in;
  cursor: pointer;
}
.name:hover {
  border: 3px double rgba(255, 255, 255, 0.212);
  background: rgba(255, 255, 255, 0.13);
}
.name:hover::-moz-placeholder {
  opacity: 90%;
  color: #242b33;
}
.name:hover::placeholder {
  opacity: 90%;
  color: #242b33;
}

.phone {
  background: rgba(255, 255, 255, 0.212);
  transition: all 0.3s ease-in;
  cursor: pointer;
}
.phone:hover {
  border: 3px double rgba(255, 255, 255, 0.212);
  background: rgba(255, 255, 255, 0.13);
}
.phone:hover::-moz-placeholder {
  opacity: 90%;
  color: #242b33;
}
.phone:hover::placeholder {
  opacity: 90%;
  color: #242b33;
}

.btn {
  color: #eeeeee;
  background: #242b33;
  transition: all 0.2s ease-in;
}
.btn:hover {
  background: rgba(42, 49, 56, 0.862745098);
}

.warning {
  color: #242b33;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.video {
  overflow: hidden;
  position: relative;
  text-align: center;
}

.video-icon-light {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
}
.video-icon-light:hover {
  transform: translate(-50%, -50%) scale(1.1);
  filter: contrast(1.25);
}

.video-icon {
  display: none;
}

.video-link {
  position: relative;
  display: inline-block;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.video-link::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(179, 178, 176, 0.7);
  transition: background-color 0.2s ease-in;
}
.video-link:hover::before {
  background: rgba(179, 178, 176, 0.6);
}

.map-container {
  padding: 180px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-container-title {
  font-weight: 700;
  font-size: 36px;
  font-family: "Playfair Display", serif;
  color: #242b33;
  width: 1100px;
  margin-bottom: 88px;
}

.map-secthion {
  background: #242b33;
  width: 1100px;
  height: 360px;
}
.map-secthion iframe {
  width: 100%;
  height: 100%;
}

.faqs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.faqs-title {
  font-weight: 700;
  font-size: 36px;
  font-family: "Playfair Display", serif;
  color: #242b33;
  width: 1160px;
}

.faqs-form {
  display: flex;
  gap: 30px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 180px;
  background: #dbdbdb;
  min-height: 272px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1115px;
  width: 100%;
}

ul {
  display: grid;
  gap: 15px;
}

.item {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #242b33;
  letter-spacing: 0.05em;
  cursor: pointer;
}
.item a {
  color: rgba(42, 49, 56, 0.862745098);
}

.socthials {
  display: flex;
  gap: 20px;
}
.socthials .socthial-light {
  transition: all 0.5s ease-in-out;
}
.socthials .socthial-light:hover {
  transform: scale(1.1);
}

.socthial {
  display: none;
}

.socthial-light {
  display: block;
}/*# sourceMappingURL=mainLight.css.map */